/* primary-floodplainmap.scss */
/* resources.scss */
html {
  overflow: hidden; }
  html, html body {
    height: 100%; }
  html body {
    padding: 20px;
    background-color: transparent;
    background-image: url("../img/bright_squares.png"); }
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      html body {
        background-image: url("../img/bright_squares_@2x.png");
        -webkit-background-size: 297px 297px; } }

.pagecontent {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 32px; }

.mapbox {
  height: 100%;
  margin-left: 34px;
  margin-right: 310px;
  position: relative;
  background-color: rgba(187, 187, 187, 0.5);
  background-image: url("../img/bg-map.png");
  box-shadow: 0 0 10px -2px #555555; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .mapbox {
      background-image: url("../img/bg-map_@2x.png");
      -webkit-background-size: 10px 10px; } }
  .mapbox .map {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
    border: solid 1px #888;
    background-position: center center;
    background-repeat: no-repeat; }
    .mapbox .map .esriSimpleSlider, .mapbox .map .esriControlsBR, .mapbox .map .bingLogo-lg {
      display: none !important;
      visibility: hidden; }

.lt-ie9 .mapbox {
  background-color: #d1d1d1; }

.panelbox {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  padding: 32px 0 0; }
  .panelbox > div {
    color: #222;
    border: solid 1px #888;
    box-shadow: 0 0 10px -2px #555555;
    background-color: rgba(136, 136, 136, 0.5);
    margin-top: 10px;
    padding: 10px; }
  .panelbox > div:first-child {
    margin-top: 0; }
  .panelbox .floodplaincontact {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url("../img/mailsent.png"); }
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      .panelbox .floodplaincontact {
        background-image: url("../img/mailsent_@2x.png");
        -webkit-background-size: 82px 55px; } }
  .panelbox .floodplaininfo {
    overflow: hidden;
    padding: 0; }
    .panelbox .floodplaininfo .list, .panelbox .floodplaininfo .details {
      padding: 10px; }
    .panelbox .floodplaininfo .list {
      padding-bottom: 2px; }
    .panelbox .floodplaininfo .list h2 {
      font-size: 1.1em;
      color: #555555; }
    .panelbox .floodplaininfo ul {
      list-style: none;
      list-style-image: none;
      padding: 0;
      margin-top: 10px; }
    .panelbox .floodplaininfo li, .panelbox .floodplaininfo .detailcontent > div:first-child {
      margin: 0;
      position: relative;
      color: #e1e1e1; }
      .panelbox .floodplaininfo li h2, .panelbox .floodplaininfo .detailcontent > div:first-child h2 {
        font-size: 1.2em; }
      .panelbox .floodplaininfo li h3, .panelbox .floodplaininfo .detailcontent > div:first-child h3 {
        font-size: 1.1em; }
    .panelbox .floodplaininfo li {
      padding: 8px 21px 8px 0;
      border-top: solid 1px #C5C5C5;
      cursor: default;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      background-position: right center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url("../img/collapsed.png"); }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        .panelbox .floodplaininfo li {
          background-image: url("../img/collapsed_@2x.png");
          -webkit-background-size: 13px 13px; } }
      .panelbox .floodplaininfo li:hover {
        color: white; }
      .panelbox .floodplaininfo li.hasSymbol {
        padding-left: 22px; }
    .panelbox .floodplaininfo .detailcontent {
      margin-top: 11px;
      padding-top: 8px;
      border-top: solid 1px #C5C5C5; }
      .panelbox .floodplaininfo .detailcontent div.hasSymbol {
        padding-left: 22px; }
      .panelbox .floodplaininfo .detailcontent p {
        margin-top: 8px; }
    .panelbox .floodplaininfo .symbol {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 50%;
      left: 0;
      margin-top: -8px;
      border: solid 1px #5D6284; }
    .panelbox .floodplaininfo .closedef {
      padding-left: 21px;
      background-position: left center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url("../img/backcollapsed.png"); }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        .panelbox .floodplaininfo .closedef {
          background-image: url("../img/backcollapsed_@2x.png");
          -webkit-background-size: 13px 13px; } }

.lt-ie9 .panelbox > div {
  background-color: #b7b7b7; }

.toolbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 34px;
  padding: 32px 0 10px; }
  .toolbox .tools {
    height: 100%;
    width: 100%; }
    .toolbox .tools ul {
      list-style: none;
      list-style-image: none;
      padding: 0; }
      .toolbox .tools ul li {
        height: 30px;
        width: 100%;
        margin-top: 0; }
    .toolbox .tools input.tool {
      display: block;
      border: 0;
      text-indent: -999em;
      overflow: hidden;
      background-color: transparent;
      background-repeat: no-repeat;
      text-align: left;
      direction: ltr;
      height: 100%;
      width: 100%;
      opacity: 0.4;
      filter: alpha(opacity=40);
      background-color: transparent;
      background-position: left center;
      background-repeat: no-repeat; }
      .toolbox .tools input.tool br {
        display: none; }
      .toolbox .tools input.tool:hover {
        opacity: 0.7;
        filter: alpha(opacity=70); }
      .toolbox .tools input.tool:active {
        opacity: 1;
        filter: alpha(opacity=100); }
      .toolbox .tools input.tool:disabled {
        opacity: 0.1;
        filter: alpha(opacity=10); }
    .toolbox .tools .toolgroup {
      margin-top: 10px; }
    .toolbox .tools .zoomout {
      background-image: url("../img/zoomouttool.png"); }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        .toolbox .tools .zoomout {
          background-image: url("../img/zoomouttool_@2x.png");
          -webkit-background-size: 24px 24px; } }
    .toolbox .tools .zoomin {
      background-image: url("../img/zoomintool.png"); }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        .toolbox .tools .zoomin {
          background-image: url("../img/zoomintool_@2x.png");
          -webkit-background-size: 24px 24px; } }
    .toolbox .tools .zoominitial {
      background-image: url("../img/hometool.png"); }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        .toolbox .tools .zoominitial {
          background-image: url("../img/hometool_@2x.png");
          -webkit-background-size: 24px 24px; } }
    .toolbox .tools .zoomback {
      background-image: url("../img/zoombacktool.png"); }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        .toolbox .tools .zoomback {
          background-image: url("../img/zoombacktool_@2x.png");
          -webkit-background-size: 24px 24px; } }
    .toolbox .tools .notisimplewithlink {
      background-image: url("../img/llamatool.png"); }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        .toolbox .tools .notisimplewithlink {
          background-image: url("../img/llamatool_@2x.png");
          -webkit-background-size: 24px 24px; } }
    .toolbox .tools .notigetchromeframe {
      background-image: url("../img/chrometool.png"); }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        .toolbox .tools .notigetchromeframe {
          background-image: url("../img/chrometool_@2x.png");
          -webkit-background-size: 24px 24px; } }

.basemapbox {
  zoom: 1;
  position: absolute;
  top: 0;
  right: 310px; }
  .basemapbox:before, .basemapbox:after {
    content: "";
    display: table; }
  .basemapbox:after {
    clear: both; }
  .basemapbox h2, .basemapbox .basemaps {
    float: left;
    margin: 0; }
  .basemapbox .basemaps {
    margin-left: 5px; }
    .basemapbox .basemaps ul {
      list-style: none;
      list-style-image: none;
      padding: 0;
      zoom: 1; }
      .basemapbox .basemaps ul:before, .basemapbox .basemaps ul:after {
        content: "";
        display: table; }
      .basemapbox .basemaps ul:after {
        clear: both; }
      .basemapbox .basemaps ul > li {
        float: left;
        margin-top: 0; }
      .basemapbox .basemaps ul li {
        line-height: 1.8;
        margin-top: 0;
        margin-left: 10px; }
        .basemapbox .basemaps ul li input {
          color: #b3c6ff; }
        .basemapbox .basemaps ul li.selected input {
          color: #3366ff; }

.searchbox {
  position: absolute;
  top: -2px;
  left: 34px;
  line-height: 1.8; }
  .searchbox input[type="text"] {
    padding: 5px 33px 5px 8px;
    width: 300px;
    background-color: #fff;
    border: solid 1px #aaa; }
  .searchbox .clearsearch {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 4px;
    right: 5px;
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url("../img/close-dark.png"); }
    .searchbox .clearsearch br {
      display: none; }
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      .searchbox .clearsearch {
        background-image: url("../img/close-dark_@2x.png");
        -webkit-background-size: 20px 40px; } }
    .searchbox .clearsearch:hover {
      background-position: left -20px; }
  .searchbox .workingoverlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/searching.gif");
    border: solid 1px #aaa;
    opacity: 0.85;
    filter: alpha(opacity=85);
    display: none;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear; }
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      .searchbox .workingoverlay {
        background-image: url("../img/searching_@2x.gif");
        -webkit-background-size: 121px 11px; } }
  .searchbox.searching {
    opacity: 0.7;
    filter: alpha(opacity=70); }
    .searchbox.searching .workingoverlay {
      display: block; }

.tooltip, .simpleInfoWindow .content {
  font-size: 0.9em;
  padding: 5px 8px;
  background-color: #222;
  color: #ccc;
  box-shadow: 0 0 5px #444; }

.tipsearchclose {
  display: none !important;
  visibility: hidden; }

.simpleInfoWindow {
  padding: 0 5px;
  height: auto !important;
  width: auto !important; }
  .simpleInfoWindow .title, .simpleInfoWindow .close {
    display: none !important;
    visibility: hidden; }
  .simpleInfoWindow .content {
    font-size: 1em;
    max-width: 350px;
    height: auto !important;
    overflow: visible;
    opacity: .90;
    filter: alpha(opacity=90); }

.simpleInfoWindow .floodmessage {
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 1px #333; }

.hidden {
  display: none !important;
  visibility: hidden; }

.bannercontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }

.topbanner {
  zoom: 1;
  opacity: 0.95;
  filter: alpha(opacity=95);
  padding: 25px 70px 25px 25px;
  line-height: 20px;
  background-color: #333;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 6px #333;
  position: relative;
  border-bottom: solid 1px #000; }
  .topbanner:before, .topbanner:after {
    content: "";
    display: table; }
  .topbanner:after {
    clear: both; }
  .topbanner a {
    color: #A0BAF9; }
  .topbanner p {
    margin-top: 10px; }
    .topbanner p:first-child {
      margin-top: 0; }
  .topbanner .subtle {
    color: #999; }
  .topbanner input {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url("../img/close-dark.png"); }
    .topbanner input br {
      display: none; }
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      .topbanner input {
        background-image: url("../img/close-dark_@2x.png");
        -webkit-background-size: 20px 40px; } }
    .topbanner input:hover {
      background-position: left -20px; }
  .topbanner.getchromeframe {
    background-position: 25px center;
    background-repeat: no-repeat;
    background-image: url("../img/ie.png");
    padding-left: 85px; }
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      .topbanner.getchromeframe {
        background-image: url("../img/ie_@2x.png");
        -webkit-background-size: 40px 40px; } }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }
