/* primary.scss */
/* resources.scss */
html {
  overflow: hidden; }
  html, html body {
    height: 100%; }
  html body {
    padding: 20px;
    background: transparent url("../img/retina_wood.png"); }

.pagecontent {
  height: 100%;
  width: 100%; }

.mapbox {
  height: 100%;
  margin-left: 34px;
  position: relative;
  box-shadow: 0 0 10px #9B8261; }

.map {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(79, 77, 76, 0.7);
  background-color: rgba(79, 77, 76, 0.7); }
  .map .esriSimpleSlider, .map .bingLogo-lg {
    display: none; }
