/* primary-floodplainmap.scss */

@import "resources.scss";

$color-aerialback: rgba(187, 187, 187, 0.5); // TODO. not full rgba support
$color-aerialborder: darken($color-aerialback, 40%);
$color-aerialbackie: #D1D1D1;

$height-header: 32px; // just put things up here absolutely for now

html {
	overflow: hidden;
	&, body {
		height: 100%;
	}
	body {
		padding: 20px;
		background-color: transparent;
		@include retinabackground('../img/bright_squares', 'png', 297px, 297px);
		min-width: 860px;
	}
}

.pagecontent {
	position: relative;
	height: 100%; width: 100%;
}

$width-toolbox: $size-mapcommand + 10px; // 10 padding right
$height-toolbox: $size-mapcommand + 6px; // 3 padding top/bottom

$width-rightpanel: 300px;

.mapbox {
	position: absolute;
	left: $width-toolbox;
	right: $width-rightpanel + 10px;
	top: $height-header;
	bottom: 0;
	background-color: $color-aerialback;
	@include retinabackground('../img/bg-map', 'png', 10px, 10px);
	box-shadow: 0 0 10px -2px #555;

	.map {
		@include noselection;
		height: 100%; width: 100%;
		border: solid 1px #555;
		background: {
			position: center center;
			repeat: no-repeat;
		}
		.esriSimpleSlider, .esriControlsBR, .bingLogo-lg {
			@include hidden;
		}
	}
}
.mapbox, .map {
	min-height: 570px; // keep min page height
}

.lt-ie9 .mapbox {
	background-color: $color-aerialbackie;
}

.panelbox {
	position: absolute;
	right: 0;
	top: $height-header;
	bottom: 0;
	width: $width-rightpanel;
	> div {
		color: #222;
		border: solid 1px #888;
		box-shadow: 0 0 10px -2px #555;
		background-color: darken($color-aerialback, 20%);
		margin-top: 10px;
		padding: 10px;
	}
	> div:first-child {
		margin-top: 0;
	}

	.floodplaincontact {
		background: {
			position: right bottom;
			repeat: no-repeat;
		}
		@include retinabackground('../img/mailsent', 'png', 82px, 55px);
	}
	.floodplaininfo {
		overflow: hidden;
		padding: 0;
		.list, .details {
			padding: 10px;
		}
		.list {
			padding-bottom: 2px; // internal list already has 8px bottom padding
		}
		.list h2 {
			font-size: 1.1em;
			color: lighten(#222, 20%);
		}
		ul {
			@include list-unpadded;
			margin-top: 10px;			
		}
		li, .detailcontent > div:first-child {
			margin: 0;
			position: relative;
			color: lighten(#222, 75%);
			h2 {
				font-size: 1.2em;
			}		
			h3 {
				font-size: 1.1em;
			}
		}
		$symbolSize: 14px;
		li {
			padding: 8px 21px 8px 0;	
			border-top: solid 1px #C5C5C5;
			cursor: default;
			@include noselection;
			-webkit-tap-highlight-color:rgba(0,0,0,0);
			background: {
				position: right center;
				repeat: no-repeat;
				color: transparent;
			}
			@include retinabackground('../img/collapsed', 'png', 13px, 13px);				
			&:hover {
				color: lighten(#222, 95%);
			}
			&.hasSymbol {
				padding-left: $symbolSize + 8px;
			}
		}
		.detailcontent {
			margin-top: 11px;	
			padding-top: 8px;
			border-top: solid 1px #C5C5C5;
			div.hasSymbol {
				padding-left: $symbolSize + 8px;
			}
			p {
				margin-top: 8px;
			}
		}
		.symbol {
			position: absolute;
			width: $symbolSize;
			height: $symbolSize;
			top: 50%;
			left: 0;
			margin-top: -1 * ($symbolSize/2) - 1px; // negative half margin for vertical center placement. for some reason looks 1 px off to eyes, so move up 1px
			border: solid 1px #5D6284;
		}
		.closedef {
			padding-left: 21px;
			background: {
				position: left center;
				repeat: no-repeat;
				color: transparent;
			}
			@include retinabackground('../img/backcollapsed', 'png', 13px, 13px);
		}
	}
}
.lt-ie9 .panelbox > div {
	background-color: darken($color-aerialbackie, 10%);
}

.toolbox {
	position: absolute;
	top: $height-header; bottom: 0;
	left: 0;
	width: $width-toolbox;
	
	.tools {
		width: 100%;

		ul {
			@include list-unpadded;
			li {
				height: $height-toolbox;
				width: 100%;
				margin-top: 0;
			}
		}

		input.tool {
			@include imagereplace;
			height: 100%; width: 100%;
			opacity: 0.4; filter:alpha(opacity=40);
			background: {
				color: transparent;
				position: left center;
				repeat: no-repeat;
			}
			&:hover {
				opacity: 0.7; filter:alpha(opacity=70);
			}
			&:active {
				opacity: 1; filter:alpha(opacity=100);
			}
			&:disabled {
				opacity: 0.1; filter:alpha(opacity=10);
			}
		}

		.toolgroup {
			margin-top: 10px;
		}
		.zoomout {
			@include retinabackground('../img/zoomouttool', 'png', 24px, 24px);
		}
		.zoomin {
			@include retinabackground('../img/zoomintool', 'png', 24px, 24px);
		}
		.zoominitial {
			@include retinabackground('../img/hometool', 'png', 24px, 24px);
		}
		.zoomback {
			@include retinabackground('../img/zoombacktool', 'png', 24px, 24px);
		}
		.notisimplewithlink {
			@include retinabackground('../img/llamatool', 'png', 24px, 24px);
		}
		.notigetchromeframe {
			@include retinabackground('../img/chrometool', 'png', 24px, 24px);
		}
	}
}

.basemapbox {
	@include clearfix;
	position: absolute;
	top: 0;
	right: $width-rightpanel + 15px;
	ul {
		@include list-unpadded;
		padding-top: $height-header + 5px;
		min-width: 140px;
		li {
			line-height: 1;
			margin: 0;
			display: none;
			input {
				color: #bbb;
				padding: 6px 10px;
				max-height: $height-header; // stop potential map overlap
				width: 100%;
				background-color: #222;
				opacity: .90; filter: alpha(opacity=90);
				text-align: center;
			}
			input:hover, input:focus {
				color: #fff;
				text-decoration: none;
			}
			&.selected {
				display: block;
				input {
					color: #fff;
					position: absolute;
					right: 0;
					left: 0;
					top: 0;
					padding: 6px 10px 6px 34px;
					text-align: left;
					border: {
						left: solid 1px #888;
						top: solid 1px #888;
						right: solid 1px #888;
					}
					background-color: darken($color-aerialback, 20%);
					opacity: 1; filter: alpha(opacity=100);
					background: {
						position: 6px center;
						repeat: no-repeat;
					}
					@include retinabackground('../img/globe', 'png', 40px, 40px);
				}
			}
		}
	}
	&:hover {
		li {
			display: block;
		}
		li:hover {
			color: #fff;
		}
	}
}
.lt-ie9 .basemapbox ul li.selected input {
	background-color: darken($color-aerialbackie, 10%);
}

.searchbox {
	position: absolute;
	top: -2px; // keep text in line with basemap text
	left: $width-toolbox + 10px;
	line-height: 1.8;
	input[type="text"] {
		padding: 6px 33px 5px 8px;
		width: 280px;
		background-color: #fff;
		border: solid 1px #aaa;
		margin: {
			left: 30px;
		}
	}
	.searchbutton {
		@include imagereplace;
		height: 24px; width: 30px;
		background: {
			position: center center;
			repeat: no-repeat;
		}
		@include retinabackground('../img/search', 'png', 30px, 24px);
		position: absolute;
		top: 2px; left: 0;
		opacity: 0.4; filter:alpha(opacity=40);
		&:hover {
			opacity: 0.7; filter:alpha(opacity=70);
		}
		&:active {
			opacity: 1; filter:alpha(opacity=100);
		}
		&:disabled {
			opacity: 0.1; filter:alpha(opacity=10);
		}
	}
	.clearsearch {
		@include imagereplace;
		height: 20px; width: 20px;
		position: absolute;
		top: 4px;
		right: 6px;
		background: {
			color: transparent;
			position: left -20px;
			repeat: no-repeat;
		}
		@include retinabackground('../img/close-dark', 'png', 20px, 40px);
		&:hover {
			background-position: left top;
		}
	}
	.workingoverlay {
		position: absolute;
		left: 30px; right: 0;
		top: 0;
		height: 100%;
		background: {
			color: #fff;
			position: center center;
			repeat: no-repeat;
		}
		@include retinabackground('../img/searching', 'gif', 121px, 11px);
		border: solid 1px #aaa;
		opacity: 0.85; filter: alpha(opacity=85);
		display: none;
		-webkit-transition: opacity 1s linear;
		transition: opacity 1s linear;
	}
	&.searching {
		opacity: 0.7; filter: alpha(opacity=70);
		.workingoverlay {
			display: block;
		}
	}
}

.tooltip {
	padding: 5px 8px;
	background-color: #222;
	color: #ccc;
	box-shadow: 0 0 5px #444;
}

.tipsearchclose {
	@include hidden;
}

.simpleInfoWindow {
	padding: 0 5px;
	height: auto !important;
	width: auto !important;

	.title, .close {
		@include hidden;
	}	

	.content {
		@extend .tooltip;
		font-size: 1em;
		max-width: 350px;
		height: auto !important;
		overflow: visible;
		opacity: .90; filter: alpha(opacity=90);
	}
}

.simpleInfoWindow {
	.floodmessage {
		margin-top: 5px; padding-top: 5px;
		border-top: solid 1px #333;
	}
}

.hidden {
	@include hidden;
}

// top banner
.bannercontainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.topbanner {
	@include clearfix;
	opacity: 0.95; filter: alpha(opacity=95);
	padding: 25px 70px 25px 25px;
	line-height: 20px;
	background-color: #333;
	text-align: center;
	color: #fff;
	box-shadow: 0 0 6px #333;
	position: relative;
	border: {
		bottom: solid 1px #000;
	}
	a {
		color: #A0BAF9;
	}
	p {
		margin-top: 10px;
		&:first-child {
			margin-top: 0;
		}
	}
	.subtle {
		color: #999;
	}
	input {
		@include imagereplace;
		height: 20px;
		width: 20px;
		position: absolute;
		right: 25px;
		top: 25px;
		background: {
			color: transparent;
			position: left top;
			repeat: no-repeat;
		}
		@include retinabackground('../img/close-dark', 'png', 20px, 40px);
		&:hover {
			background-position: left -20px;
		}
	}

	&.getchromeframe {
		background: {
			position: 25px center;
			repeat: no-repeat;
		}
		@include retinabackground('../img/ie', 'png', 40px, 40px);
		padding-left: 85px;
	}
}

.clearfix {
	@include clearfix;
}