/* primary.scss */

@import "resources.scss";

$color-aerialback: rgba(187, 187, 187, 0.5); // TODO. not full rgba support
$color-aerialborder: darken($color-aerialback, 40%);

html {
	overflow: hidden;
	&, body {
		height: 100%;
	}
	body {
		padding: 20px;
		background: transparent url('../img/bright_squares.png');
	}
}

.pagecontent {
	position: relative;
	height: 100%; width: 100%;
}

$width-toolbox: $size-mapcommand + 8px; // 8 padding right
$height-toolbox: $size-mapcommand + 6px; // 3 padding top/bottom

.mapbox {
	height: 100%;
	margin-left: $width-toolbox;
	position: relative;
	background-color: $color-aerialback;
	box-shadow: 0 0 15px -2px #333;

	.map {
		@include noselection;
		height: 100%; width: 100%;
		background: {
			position: center center;
			repeat: no-repeat;
		}
		.esriSimpleSlider, .bingLogo-lg {
			display: none;
		}
	}
}

.toolbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%; width: $width-toolbox;

	.tools {
		height: 100%; width: 100%;

		ul {
			@include list-unpadded;
			li {
				height: $height-toolbox;
				width: 100%;
				margin-top: 0;
			}
		}

		input.tool {
			@include imagereplace;
			height: 100%; width: 100%;
			opacity: 0.4; filter:alpha(opacity=40);
			background: {
				color: transparent;
				position: left center;
				repeat: no-repeat;
			}
			&:hover {
				opacity: 0.7; filter:alpha(opacity=70);
			}
			&:active {
				opacity: 1; filter:alpha(opacity=100);
			}
		}

		.zoomout {
			background-image: url('../img/zoomout.png');
		}
		.zoomin {
			background-image: url('../img/zoomin.png');
		}
		.zoominitial {
			background-image: url('../img/blanktool.png'); // TODO
		}
	}
}