<div class="floodplaininfo">
	<div class='wrapper'>
		<div class="list">
			<h2>Common Floodplain Management Zones</h2>
			<div>
				<ul>
					<% _.each(definitions, function(def) { %>
					<li <% if (def.legendColor) { %>class="hasSymbol"<% } %>><% if (def.legendColor) { %><div class="symbol" style="background-color: <%= def.legendColor %>;">&nbsp;</div><% } %><%= def.name %></li>
					<% }); %>
				</ul>
			</div>
		</div>
		<div class="details">
			<input type="button" class="closedef" value="back"/>
			<div class="detailcontent"></div>
		</div>
	</div>
</div>